<!-- modified from staff provided login.html page in pset distro -->

{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Transaction History</h1>
    <hr>
    {% if transactions|length > 0 %}
    <table class="center">
        <tr>
            <th>Tx Type</th>
            <th>Ticker</th>
            <th>#</th>
            <th>Share Price</th>
            <th>Total Transaction Value</th>
            <th>Timestamp</th>
        </tr>
        {% for t in transactions %}
        {% set numstocks_int = t["numstocks"] | int %}
        <tr>
            <td>{% if t["numstocks"] > 0 %} Buy {% else %} Sell {% endif %}</td>
            <td>{{ t["stock"] }}</td>
            <td>{{ t["numstocks"] | abs}}</td>
            <td>{{ (t["order_price"] / numstocks_int) | abs | usd }}</td>
            <td>{{ t["order_price"] | usd }}</td>
            <td>{{ t["tx_time"] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="center">No transactions yet!</p>
    {% endif %}
{% endblock %}
