{% extends "parent-template.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <h1 class="center">What's in my fridge ?</h1>
    <h2 class="center">{{ tagName["name"] }}</h2>
    <hr>
    {% if current_items|length > 0 %}
    <table class="center">
      <thead>
        <tr>
            <th><a href="/?sort=name&direction=asc">Name</a></th>
            <th><a href="/?sort=quantity&direction=asc">Qty</a></th>
            <th><a href="/?sort=expiry_time&direction=asc">Days</a></th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Archived</th>
        </tr>
      </thead>
      <tbody>
        {% for i in current_items %}
            {% set days_to_expiry = i.days_to_expiry() %}
            <tr class="{{ '' if days_to_expiry is none else 'expired' if days_to_expiry <= 0 else 'expiring-soon' if days_to_expiry <= 3 else '' }}">
                <td>{{ i.name }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ days_to_expiry }}</td>
                <td>
                    <form action="{{ url_for('views.edit_item', item_id=i.item_id) }}" method="get" class="edit-item">
                        <button class="btn btn-primary" type="submit"><i class="bi bi-pencil"></i></button>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('views.delete_item', item_id=i.item_id) }}" method="post" class="delete-item">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i></button>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('views.archived_item', item_id=i.item_id, archived=1) }}" method="post" class="archive-item">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button class="btn btn-secondary" type="submit"><i class="bi bi-archive"></i></button>
                    </form>
                </td>


            </tr>
            {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="center">Nothing with this tag!</p>
    {% endif %}
{% endblock %}
